
.productcart-container {
  display: none;
  position: fixed;
  top: 12%; 
  right: 15%;
  background-color: #f7f7f7;
  border-radius: 5px;
  box-shadow: 6px 9px 20px -9px rgba(0,0,0,0.1);
  flex-direction: column;
  display: flex;
  height: 350px;
  width: 100%;
  max-width: 460px;
  z-index: 100;
}

@media (max-width: 768px) {
  .productcart-container {
    top: 10%;
    right: 0;
 
  }
}


.productcart-container-header {
  height: 90px;
  background-color: #ffb11f;
  background-size: cover;
  border-radius: 5px 5px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
}

.productcart-container-header .title-header {
  font-weight: 700;
  font-size: 30px;
}

.productcart-container-header .productcart-close-button {
  font-size: 20px;
  cursor: pointer;
  width: 7%;
  color: #f7f7f7;
  background-color: #ffb11f;
  border: none;
  border-radius: 100%;
  margin-left: 55px;
}

.productcart-container-body {
  height: 340px;
  padding: 10px;
  overflow: auto;
  width: 100%;
}

.productcart-container-body .productcart-body-overflow {
  display: flex;
  flex-direction: column;
  border-radius: 9999px;
  padding: 8px;
  gap: 10px;
  align-items: center;
  justify-items: center;
}

.productcart-container-body .productcart-body-overflow a {
  border-radius: 3px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ffb11f4e;
  display: flex;
  color: #ffb11f;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  padding: 2%;
}

.productcart-container-body .productcart-body-overflow a:hover {
  color: #ffb11f;
  background-color: #f7f7f7;
}

.productcart-body-overflow ul {
  width: 100%;
  align-items: center;
}

.link-ws-button {
  color: #ffb11f;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 150px;
  padding: 0px 30px;
  width: 90%;
}
.icon-quotation :hover {
  position: absolute;
}


.inputCart{
  width: 20px;
  padding: 2px;
  display: flex;
  margin: auto;
  border: none;
  background-color: #f7f7f7;
}

.btnFocus  {
  background-color: #f7f7f7;
  border: none;
}



